In [63]:
import pandas as pd
import numpy as np

In [64]:
df1 = pd.read_csv('/Users/sahanpramuditha/Downloads/archive (16)/Hotel_details.csv')
df2 = pd.read_csv('/Users/sahanpramuditha/Downloads/archive (16)/Hotel_Room_attributes.csv')
df3 = pd.read_csv('/Users/sahanpramuditha/Downloads/archive (16)/hotel_price_min_max - Formula.csv')
df4 = pd.read_csv('/Users/sahanpramuditha/Downloads/archive (16)/hotels_RoomPrice.csv')

In [65]:
df1.head()

,id,hotelid,hotelname,address,city,country,zipcode,propertytype,starrating,latitude,longitude,Source,url,curr
0,46406,1771651,Mediteran Bungalow Galeb,Vukovarska 7,Omis,Croatia,21310.0,Holiday parks,4,43.440124,16.682505,2,https://www.booking.com/hotel/hr/bungalow-luxu...,EUR
1,46407,177167,Hotel Polonia,Plac Teatralny 5,Torun,Poland,NaN,Hotels,3,53.012329,18.603800,5,https://www.agoda.com/en-gb/hotel-polonia/hote...,EUR
2,46408,1771675,Rifugio Sass Bece,"Belvedere del Pordoi,1",Canazei,Italy,38032.0,Hotels,3,46.477920,11.813350,2,http://www.booking.com/hotel/it/rifugio-sass-b...,EUR
3,46409,177168,Madalena Hotel,Mykonos,Mykonos,Greece,84600.0,Hotels,3,37.452316,25.329849,5,https://www.agoda.com/en-gb/madalena-hotel/hot...,EUR
4,46410,1771718,Pension Morenfeld,Mair im Korn Strasse 2,Lagundo,Italy,39022.0,Hotels,3,46.682780,11.131736,2,http://www.booking.com/hotel/it/pension-morenf...,EUR

In [66]:
df1['url']

0         https://www.booking.com/hotel/hr/bungalow-luxu...
1         https://www.agoda.com/en-gb/hotel-polonia/hote...
2         http://www.booking.com/hotel/it/rifugio-sass-b...
3         https://www.agoda.com/en-gb/madalena-hotel/hot...
4         http://www.booking.com/hotel/it/pension-morenf...
                                ...
108043    http://www.booking.com/hotel/de/stadt-tuttling...
108044     http://www.booking.com/hotel/bg/beroe.en-gb.html
108045    http://www.booking.com/hotel/bg/rothmans-bansk...
108046    https://www.booking.com/hotel/bg/rainbow-4-bou...
108047    http://www.booking.com/hotel/bg/rainbow-2-caca...
Name: url, Length: 108048, dtype: object

In [67]:
df2.head()

,id,hotelcode,roomamenities,roomtype,ratedescription
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed"
1,50672149,8328096,Air conditioning: ;Closet: ;Fireplace: ;Free W...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ..."
2,50643430,8323442,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ..."
3,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds"
4,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds"

DATA CHECK

In [68]:
df2.rename(columns = {'hotelcode':'hotelid'},inplace = True)

In [69]:
df_new = df2.merge(df1,on = 'hotelid')

In [70]:
df_new.head()

,id_x,hotelid,roomamenities,roomtype,ratedescription,id_y,hotelname,address,city,country,zipcode,propertytype,starrating,latitude,longitude,Source,url,curr
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.158470,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP
1,50672149,8328096,Air conditioning: ;Closet: ;Fireplace: ;Free W...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",66727,Pantlleni,NaN,Beddgelert,United Kingdom,NaN,Hotels,3,53.042229,-4.033180,5,https://www.agoda.com/en-gb/pantlleni/hotel/be...,GBP
2,50643430,8323442,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",65369,Willow Cottage,NaN,Beverley,United Kingdom,NaN,Hotels,3,53.843220,-0.497970,5,https://www.agoda.com/en-gb/willow-cottage/hot...,GBP
3,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,NaN,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP
4,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,NaN,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP

In [71]:
df_new.shape

(181415, 18)

In [72]:
df_new.isna().sum()

id_x                   0
hotelid                0
roomamenities       5309
roomtype               0
ratedescription     5309
id_y                   0
hotelname              0
address              577
city                   0
country                0
zipcode            86703
propertytype           0
starrating             0
latitude               0
longitude              0
Source                 0
url                    0
curr                   0
dtype: int64

In [73]:
df_new.duplicated().sum()

np.int64(0)

In [74]:
df_new.drop(['zipcode'],axis = 1,inplace = True)

In [75]:
df_new.dropna(inplace = True)

In [76]:
df_new.shape

(175529, 17)

In [77]:
df3.head()

   hotelcode     min     max  Diff_Min  Diff_Max  Score
0         31   75.10  189.88     0.000     0.000   0.00
1         97  259.76  400.00     1.103     0.712   0.91
2        834  220.67  656.86     0.786     1.124   0.95
3       3144  254.54  347.30     0.886     0.395   0.64
4      11203  230.91  244.58     0.748     0.149   0.45

In [78]:
df3.rename(columns  = {'hotelcode':'hotelid'},inplace = True)

In [79]:
df3.head()

   hotelid     min     max  Diff_Min  Diff_Max  Score
0       31   75.10  189.88     0.000     0.000   0.00
1       97  259.76  400.00     1.103     0.712   0.91
2      834  220.67  656.86     0.786     1.124   0.95
3     3144  254.54  347.30     0.886     0.395   0.64
4    11203  230.91  244.58     0.748     0.149   0.45

In [80]:
pd.set_option('display.max_columns',30)

In [81]:
df4.head()

,id,refid,hotelcode,websitecode,dtcollected,ratedate,los,guests,roomtype,onsiterate,netrate,currency,ratedescription,ratetype,sourceurl,roomamenities,maxoccupancy,ispromo,closed,discount,promoname,status_code,taxstatus,taxtype,taxamount,proxyused,israteperstay,mealinclusiontype,hotelblock,input_dtcollected
0,50677497,8646773,634876,5,2019-10-12 15:46:54,2019-11-02,1,1,Double Room,82.36,87.84,USD,"Room size: 15 m²/161 ft², Shower, 1 king bed",Cancellation policy,https://www.agoda.com/en-gb/the-old-cider-hous...,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,1,Y,N,6.24,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.165.126:80,Y,Free Breakfast,NaN,2019-10-13
1,50672149,6234691,8328096,5,2019-10-12 15:47:45,2019-11-30,1,1,Vacation Home,636.09,0.00,USD,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Cancellation policy,https://www.agoda.com/en-gb/pantlleni/hotel/be...,Air conditioning: ;Closet: ;Fireplace: ;Free W...,4,N,N,0.00,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.164.126:80,Y,NaN,NaN,2019-10-13
2,50643430,7015677,8323442,5,2019-10-12 15:47:00,2019-12-20,1,1,Vacation Home,591.74,0.00,USD,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Extra low price! (non-refundable),https://www.agoda.com/en-gb/willow-cottage/hot...,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,4,N,N,0.00,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.166.122:80,Y,NaN,NaN,2019-10-13
3,50650317,7327094,7975,5,2019-10-12 15:47:02,2019-12-28,1,1,Standard Triple Room,881.48,0.00,USD,"Room size: 20 m²/215 ft², Shower, 3 single beds",Extra low price! (non-refundable),https://www.agoda.com/en-gb/apollo-hotel-londo...,Air conditioning: ;Clothes rack: ;Coffee/tea m...,1,N,N,0.00,NaN,200,2,Tax 20%,0.0,media:M3diAproxy@209.242.219.141:80,Y,NaN,NaN,2019-10-13
4,50650318,7327094,7975,5,2019-10-12 15:47:02,2019-12-28,1,1,Standard Triple Room,897.53,0.00,USD,"Room size: 20 m²/215 ft², Shower, 3 single beds",Extra low price! (non-refundable),https://www.agoda.com/en-gb/apollo-hotel-londo...,Air conditioning: ;Clothes rack: ;Coffee/tea m...,3,N,N,0.00,NaN,200,2,VAT $ 179.51,0.0,media:M3diAproxy@209.242.219.141:80,Y,Free breakfast for {3},NaN,2019-10-13

In [82]:
df6 = df_new.merge(df3,on = 'hotelid')

In [83]:
df6.duplicated().sum()

np.int64(0)

will change the data frame name again to df

In [84]:
df = df6

In [85]:
df.head()

,id_x,hotelid,roomamenities,roomtype,ratedescription,id_y,hotelname,address,city,country,propertytype,starrating,latitude,longitude,Source,url,curr,min,max,Diff_Min,Diff_Max,Score
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,51.150921,-3.158470,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP,82.36,107.70,0.084,0.418,0.25
1,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP,881.48,1055.92,7.540,2.821,5.18
2,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP,881.48,1055.92,7.540,2.821,5.18
3,50650319,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP,881.48,1055.92,7.540,2.821,5.18
4,50650320,7975,Air conditioning: ;Clothes rack: ;Heating: ;In...,Deluxe Triple Room,"Shower, 1 single bed and 1 double bed",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP,881.48,1055.92,7.540,2.821,5.18

In [86]:
df.shape

(175544, 22)

In [87]:
df.drop(['id_y','latitude','longitude','Source','curr'],axis = 1,inplace = True)

In [88]:
df.rename(columns = {'id_x':'id'},inplace = True)

In [89]:
df.duplicated().sum()

np.int64(0)

In [90]:
indices = df[df['id'].duplicated()].index

In [91]:
df.drop(index = indices,inplace = True)

In [92]:
df['id'].duplicated().sum()

np.int64(0)

In [93]:
df.shape

(160438, 17)

In [94]:
df.duplicated().sum()

np.int64(0)

Data Cleaning

Removing whitespaces is necessary for our the recommendation so that it treats the entire word as one single entity

In [95]:
def remove_whitespace(text):
   return  text.replace(' ','')

In [96]:
df['roomamenities'][0]

'Air conditioning: ;Alarm clock: ;Carpeting: ;Closet: ;Coffee/tea maker: ;Desk: ;DVD/CD player: ;Fan: ;Free Wi-Fi in all rooms!: ;Hair dryer: ;Heating: ;In-room safe box: ;Ironing facilities: ;Linens: ;Mini bar: ;Seating area: ;Toiletries: ;Towels: ;TV [flat screen]: ;'

In [97]:
df['roomamenities_tag'] = df['roomamenities'].apply(lambda x:x.replace(': ;',','))

In [98]:
df['roomamenities_tag'] = df['roomamenities_tag'].apply(remove_whitespace)

In [99]:
df['roomamenities_tag'] = df['roomamenities_tag'].apply(lambda x:x.split(','))

In [100]:
df['roomamenities_tag'][66069]

['Airconditioning',
 'FreeWi-Fiinallrooms!',
 'In-roomsafebox',
 'Shower',
 'Telephone',
 'TV',
 '']

In [101]:
df['roomtype']

0                  Double Room
1         Standard Triple Room
2         Standard Triple Room
3         Standard Triple Room
4           Deluxe Triple Room
                  ...
175539               Twin Room
175540               Twin Room
175541               Twin Room
175542           Twin Standard
175543         Double Standard
Name: roomtype, Length: 160438, dtype: object

In [102]:
df['roomtype_tag'] = df['roomtype'].apply(remove_whitespace)

In [103]:
df['roomtype_tag'] =  df['roomtype_tag'].apply(lambda x:[x])

In [104]:
df['roomtype_tag'][66070]

['Budgetdouble(nowindow)']

Ratedescription

In [105]:
df['ratedescription']

0              Room size: 15 m²/161 ft², Shower, 1 king bed
1           Room size: 20 m²/215 ft², Shower, 3 single beds
2           Room size: 20 m²/215 ft², Shower, 3 single beds
3           Room size: 20 m²/215 ft², Shower, 3 single beds
4                     Shower, 1 single bed and 1 double bed
                                ...
175539    Room size: 17 m²/183 ft², Non-smoking, Shower,...
175540    Room size: 17 m²/183 ft², Non-smoking, Shower,...
175541    Room size: 17 m²/183 ft², Non-smoking, Shower,...
175542    Pay nothing until November 21, 2019, Free Wi-F...
175543    Pay nothing until November 21, 2019, Free Wi-F...
Name: ratedescription, Length: 160438, dtype: object

We can remove room size. Because it wont give an big impact on recommending hotel rooms

In [106]:
import re

def transform(text):
    return re.sub(r'Room size: \d+ m²/\d+ ft², ','',text)

In [107]:
df['ratedescription_tag'] = df['ratedescription'].apply(transform)

In [108]:
df['ratedescription_tag'] = df['ratedescription_tag'].apply(remove_whitespace)

In [109]:
df['ratedescription_tag'] = df['ratedescription_tag'].apply(lambda x:x.split(','))

 address

In [110]:
df['address'].nunique()

8435

In [111]:
df['address_tag'] = df['address'].apply(remove_whitespace)

In [112]:
df['address_tag'] = df['address_tag'].apply(lambda x:x.split())

City

In [113]:
df['city_tag'] = df['city'].apply(remove_whitespace)

In [114]:
df['city_tag'] = df['city_tag'].apply(lambda x:x.split())

In [115]:
df['city_tag']

0                [NetherStowey]
1                      [London]
2                      [London]
3                      [London]
4                      [London]
                  ...
175539    [Newcastle-upon-Tyne]
175540    [Newcastle-upon-Tyne]
175541    [Newcastle-upon-Tyne]
175542    [Newcastle-upon-Tyne]
175543    [Newcastle-upon-Tyne]
Name: city_tag, Length: 160438, dtype: object

Country

In [116]:
df['country_tag'] = df['country'].apply(remove_whitespace)

In [117]:
df['country_tag'] = df['country_tag'].apply(lambda x:x.split())

In [118]:
df['country_tag']

0         [UnitedKingdom]
1         [UnitedKingdom]
2         [UnitedKingdom]
3         [UnitedKingdom]
4         [UnitedKingdom]
               ...
175539    [UnitedKingdom]
175540    [UnitedKingdom]
175541    [UnitedKingdom]
175542    [UnitedKingdom]
175543    [UnitedKingdom]
Name: country_tag, Length: 160438, dtype: object

Propertytype

In [119]:
df['propertytype_tag'] = df['propertytype'].apply(remove_whitespace)

In [120]:
df['propertytype_tag'] = df['propertytype_tag'].apply(lambda x:x.split())

In [121]:
df.head()

,id,hotelid,roomamenities,roomtype,ratedescription,hotelname,address,city,country,propertytype,starrating,url,min,max,Diff_Min,Diff_Max,Score,roomamenities_tag,roomtype_tag,ratedescription_tag,address_tag,city_tag,country_tag,propertytype_tag
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,82.36,107.70,0.084,0.418,0.25,"[Airconditioning, Alarmclock, Carpeting, Close...",[DoubleRoom],"[Shower, 1kingbed]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]
1,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,https://www.agoda.com/en-gb/apollo-hotel-londo...,881.48,1055.92,7.540,2.821,5.18,"[Airconditioning, Clothesrack, Coffee/teamaker...",[StandardTripleRoom],"[Shower, 3singlebeds]",[64-66QueensboroughTerrace],[London],[UnitedKingdom],[Hotels]
2,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,https://www.agoda.com/en-gb/apollo-hotel-londo...,881.48,1055.92,7.540,2.821,5.18,"[Airconditioning, Clothesrack, Coffee/teamaker...",[StandardTripleRoom],"[Shower, 3singlebeds]",[64-66QueensboroughTerrace],[London],[UnitedKingdom],[Hotels]
3,50650319,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,https://www.agoda.com/en-gb/apollo-hotel-londo...,881.48,1055.92,7.540,2.821,5.18,"[Airconditioning, Clothesrack, Coffee/teamaker...",[StandardTripleRoom],"[Shower, 3singlebeds]",[64-66QueensboroughTerrace],[London],[UnitedKingdom],[Hotels]
4,50650320,7975,Air conditioning: ;Clothes rack: ;Heating: ;In...,Deluxe Triple Room,"Shower, 1 single bed and 1 double bed",Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,https://www.agoda.com/en-gb/apollo-hotel-londo...,881.48,1055.92,7.540,2.821,5.18,"[Airconditioning, Clothesrack, Heating, In-roo...",[DeluxeTripleRoom],"[Shower, 1singlebedand1doublebed]",[64-66QueensboroughTerrace],[London],[UnitedKingdom],[Hotels]

Creating tags for each room of the hotels as a list of keywords which will serve as the basis for the recommendation system

In [122]:
df['tags'] = df['roomamenities_tag'] + df['roomtype_tag'] + df['ratedescription_tag'] + df['address_tag'] + df['city_tag'] + df['country_tag'] + df['propertytype_tag']

In [123]:
df['tags'] = df['tags'].apply(lambda x:" ".join(x))

Filtering the important columns

In [124]:

df_final = df[['hotelname','tags','starrating','roomtype','country','city','propertytype']]

In [125]:
df_final.duplicated().sum()

np.int64(117114)

In [126]:
df_final.drop_duplicates(inplace = True)

/var/folders/s5/5c3jrgqs0zl2p6sn60l6gf5h0000gn/T/ipykernel_49687/3496236793.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.drop_duplicates(inplace = True)

In [127]:
df_final.isna().sum()

hotelname       0
tags            0
starrating      0
roomtype        0
country         0
city            0
propertytype    0
dtype: int64

In [128]:
df_final.reset_index(inplace = True)

In [129]:
df_final.head(3)

,index,hotelname,tags,starrating,roomtype,country,city,propertytype
0,0,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Double Room,United Kingdom,Nether Stowey,Hotels
1,1,Apollo Hotel London,Airconditioning Clothesrack Coffee/teamaker Da...,2,Standard Triple Room,United Kingdom,London,Hotels
2,4,Apollo Hotel London,Airconditioning Clothesrack Heating In-roomsaf...,2,Deluxe Triple Room,United Kingdom,London,Hotels

In [130]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000)

In [131]:
from sklearn.metrics.pairwise import cosine_similarity

Recommender Function

In [132]:
def recommend(room_type, country, city, property_type):
    # Step 1: Filter the main dataframe based on user's requirements
    filtered_df = df_final[
        (df_final['roomtype'] == room_type) &  # filter by room type (e.g., single, double)
        (df_final['country'] == country) &     # filter by country
        (df_final['city'] == city) &           # filter by city
        (df_final['propertytype'] == property_type)  # filter by property type (e.g., hotel, apartment)
    ]

    # Step 2: Create a temporary dataframe for hotels in the specified city and country
    # This ensures we only recommend hotels within the same city and country
    temp = df_final[
        (df_final['country'] == country) & 
        (df_final['city'] == city)
    ]

    # Step 3: Get the indices of hotels that match user requirements from filtered_df
    idx1 = filtered_df['index'].tolist()  # convert the 'index' column into a list

    # Step 4: Reset the index of the temporary dataframe
    # This makes it easier to map these hotels back to their position in temp dataframe
    temp.reset_index(inplace=True)

    # Step 5: Find the positions of the hotels from idx1 within the temp dataframe
    idx2 = temp[temp['index'].isin(idx1)].index.tolist()

    # Step 6: Create a similarity matrix using the 'tags' column
    # The 'tags' column contains features like hotel descriptions, amenities, etc.
    vector = tfidf.fit_transform(temp['tags']).toarray()  # convert tags to numerical data
    similarity = cosine_similarity(vector)  # calculate similarity between hotels

    # Step 7: For each hotel in idx2 (hotels matching user criteria)
    # Get the top 5 similar hotels based on the similarity matrix
    for i in idx2:
        similar_hotels = sorted(list(enumerate(similarity[i])), key=lambda x: x[1], reverse=True)[0:5]
        
        # Step 8: Print hotel names and room types of the top 5 similar hotels
        for hotel in similar_hotels:
            print(tuple(temp.loc[hotel[0]][['hotelname', 'roomtype']]))

In [133]:
recommend('Comfort Single Room','Germany','Munich','Hotels')

('Hotel Mons am Goetheplatz', 'Comfort Single Room')
('Hotel Mons am Goetheplatz', 'Standard Single Room')
('Hotel Mons am Goetheplatz', 'Comfort Double Room')
('Hotel Mons am Goetheplatz', 'Single Room with Shared Bathroom')
('Hotel Mons am Goetheplatz', 'Standard Double Room')
('Hotel Freisinger Hof', 'Comfort Single Room')
('Hotel Freisinger Hof', 'Superior Single Room')
('Hotel Freisinger Hof', 'Classic Single Room - Annex')
('Hotel Freisinger Hof', 'Comfort Double Room')
('Hotel Freisinger Hof', 'Suite')
('Hotel am Schlosspark Zum Kurfurst', 'Comfort Single Room')
('Hotel am Schlosspark Zum Kurfurst', 'Superior Double Room')
('Hotel am Schlosspark Zum Kurfurst', 'Comfort Double Room')
('Hotel Freisinger Hof', 'Comfort Single Room')
('Hotel Freisinger Hof', 'Superior Single Room')

In [134]:
recommend('Superior Double Room','Germany','Munich','Hotels')

('Ramada by Wyndham Muenchen Airport', 'Superior Double Room')
('Ramada by Wyndham Muenchen Airport', 'Standard Double Room')
('Ramada by Wyndham Muenchen Airport', 'Superior Single Room')
('Ramada by Wyndham Muenchen Airport', 'Standard Single Room')
('Ramada by Wyndham Muenchen Airport', 'Economy Single')
('GHOTEL hotel & living Munich-Nymphenburg', 'Superior Double Room')
('GHOTEL hotel & living Munich-Nymphenburg', 'Superior Single Room')
('GHOTEL hotel & living Munich-Nymphenburg', 'Business Single Room')
('GHOTEL hotel & living Munich-Nymphenburg', 'Superior Twin Room')
('GHOTEL hotel & living Munich-Nymphenburg', 'Run of House')
('Hotel Admiral', 'Superior Double Room')
('Hotel Admiral', 'Superior Double Room')
('Hotel Admiral', 'Single Room')
('Hotel Admiral', 'Double Room')
('Hotel Freisinger Hof', 'Superior Double Room')
('Hotel Admiral', 'Superior Double Room')
('Hotel Admiral', 'Superior Double Room')
('Hotel Admiral', 'Single Room')
('Hotel Admiral', 'Double Room')
('Hotel Freisinger Hof', 'Superior Double Room')
('Grand Excelsior Hotel Munich Airport', 'Superior Double Room')
('Grand Excelsior Hotel Munich Airport', 'Standard Twin Room')
('Grand Excelsior Hotel Munich Airport', 'Superior Family Room')
('Grand Excelsior Hotel Munich Airport', 'Suite')
('Hotel Freisinger Hof', 'Superior Double Room')
('Hotel Freisinger Hof', 'Superior Double Room')
('Hotel Freisinger Hof', 'Comfort Double Room')
('Hotel Freisinger Hof', 'Suite')
('Hotel Freisinger Hof', 'Superior Single Room')
('Hotel Freisinger Hof', 'Comfort Single Room')
('NH Munchen City Sud', 'Superior Double Room')
('NH Munchen City Sud', 'Family Suite')
('NH Munchen City Sud', 'Mini Suite')
('NH Munchen City Sud', 'Silken Club')
('Hotel Freisinger Hof', 'Superior Double Room')
('Novotel Muenchen Messe Hotel', 'Superior Double Room')
('Novotel Muenchen Messe Hotel', 'Standard Double Room')
('Novotel Munchen Messe', 'Superior Room')
('Novotel Muenchen Messe Hotel', 'Standard Twin Room')
('Novotel Muenchen Messe Hotel', 'Standard Queen Room')
('Hotel am Schlosspark Zum Kurfurst', 'Superior Double Room')
('Hotel am Schlosspark Zum Kurfurst', 'Comfort Double Room')
('Hotel am Schlosspark Zum Kurfurst', 'Comfort Single Room')
('Hotel Freisinger Hof', 'Superior Double Room')
('Hotel Admiral', 'Superior Double Room')

In [136]:
# Save the existing DataFrame 'df' to a CSV file on your local machine
df_final.to_csv('contentfinal.csv', index=False)

In [137]:
import pandas as pd

# Assuming 'df' is your DataFrame
df_final.to_pickle('hotels.pkl')  # Save DataFrame as a pickle file

In [138]:
import pickle

# Save the DataFrame
with open('hotels.pkl', 'wb') as file:
    pickle.dump(df_final, file)